<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('../partials/top-nav') %>
    <main>
      <%- include('../partials/side-nav') %>
      <content>
        <div>
          <h3>Transactions</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col" style="width: 20%">Date</th>
                <th scope="col" style="width: 40%">Description</th>
                <th scope="col" style="width: 30%">Amount</th>
                <th scope="col" style="width: 10%"></th>
              </tr>
            </thead>

            <tbody>
              <% allTransactions.forEach(function(t) { %>
              <tr>
                <td scope="row"><%= t.date.toDateString().slice(4, 10) %></td>
                <td><%= t.description %></td>
                <td>$ <%= t.amount %></td>
                <td>
                  <a href="/transactions/<%= t.id %>"
                    ><span class="material-icons"> create </span></a
                  >
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </content>
    </main>
  </body>
</html>
